<nav>
    <div class="left">
        <div><%= image_tag 'logo.png', :style => "height:50px; padding-left:5px" %></div>
        <div>Home</div>
        <div>Link 1</div>
        <div>Link 2</div>
    </div>
    <div class="right">
        <div>Sign Up</div>
        <div>Log In</div>
    </div>
</nav>
