<nav>
    <div class="navbox"><%= image_tag 'logo.png', :style => "height:50px; padding-left:5px" %></div>
    <div class="navbox"></div>
    <div class="navbox"></div>
    <div class="navbox"></div>
    
</nav>