<nav>
    <div class ="bar" id="left">
        <a>Home</a>
        <a>Link 1</a>
        <a>Link 2</a>
    </div>
    <div class="bar" id="right">
        <div>
            <a>Sign Up</a>
        </div>
        <div>
            <a>Log In</a>
        </div>
    </div>
</nav>
