// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
}

nav{
    display:flex;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff68ff, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff68ff, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    display:flex;
    align-items:center;
    width: 100vw;
    color:azure;
    font-weight:bold;
    padding: 40px;
    font-family: Opera, sans-serif;
    justify-content: right;
}

.left {
    font-size:24px;
    display:inherit;
    align-items: center;
    border: 1px solid black;
>*{
    border:1px solid blue;
}
}

.right {
    font-size: 18px;
    display:inherit;
    align-items: center;
    border: 1px solid black;
>*{
    border: 1px solid blue;
}
}